{% extends 'partials/base.html' %}
{% block title %} product {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

{% include 'partials/topnav.html' %}
    
    <div class="container">
        <div class="row my-4">
            <div class="col-md-4">
                {% for message in messages %}
                {% if message %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endif %}
                {% endfor %}
                <div class="border bg-white p-3">
                    <h4>Aggiungi un pezzo nuovo</h4>
                    <hr>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <!--<div class="form-group">
                            <label for="exampleInputEmail1">Nome</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Codice</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Quantità</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group ">
                            <label for="inputState">Category</label>
                            <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                        </div>-->

                        <input class="btn btn-success btn-block" type="submit" value="Add Product">

                    </form>
                </div>
            </div>
            <div class="col-md-8">
                <table class="table bg-white">
                    <thead class="bg-info">
                        <tr class="text-white">
                            <th scope="col">Nome</th>
                            <th scope="col">Codice</th>
                            <th scope="col">Quantità</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr>
                            <td>{{ item.nome }}</td>
                            <td>{{ item.codice }}</td>
                            <td>{{ item.quantita }}</td>
                            <td><a class="btn btn-info btn-sm" href="{% url 'dashboard-product-update' item.id %}">Edit</a></td>
                            <td><a class="btn btn-danger btn-sm" href="{% url 'dashboard-product-delete' item.id %}">Delete</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>



    <!--End Table-->
{% endblock %}